$color-gold: rgb(255, 212, 131);

body {
  background-color: #002144;
  color: #8a1e3b;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  letter-spacing: 3px;
  overflow-x: hidden;
}
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.App > .header {
  padding: 0.5%;
  padding-left: 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0%;
}

.header > .section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 20%;
}

.logo {
  height: auto;
  max-width: 300px;
}

.logo > img {
  max-width: 90%;
  height: auto;
  padding: 0;
}

.header > .section-mid {
  min-width: 50%;
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

nav > a {
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  color: rgb(255, 212, 131);
  font-weight: 900;
  font-size: 1.1vw;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
}

nav > a:hover {
  color: whitesmoke;
  text-decoration: none;
}

.header > .section-2 {
  margin-right: 1%;
}

.snip1372 {
  border: none;
  border-radius: 5px;
  color: rgb(255, 212, 131);
  cursor: pointer;
  padding: 0px 68px 0px 20px;
  text-align: center;
  display: inline-block;
  font-weight: 300;
  outline: none;
  position: relative;
  font-size: 0.9vw;
  line-height: 50px;
  background-color: #8a1e3b;
  font-weight: 600;
}
.snip1372 i {
  font-size: 1.5em;
  width: 55px;
  line-height: 50px;
  position: absolute;
  right: 0;
}
.snip1372:before,
.snip1372:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 44px;
  bottom: 6px;
  border-radius: 5px 5px;
}
.snip1372:after {
  background-color: rgba(255, 255, 255, 0.075);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4) inset,
    1px 1px 2px -2px rgba(255, 255, 255, 0.3);
}
.snip1372:before {
  opacity: 0;
  background-color: #fdbc30a6;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.snip1372:hover,
.snip1372.hover {
  color: #ffffff;
}
.snip1372:hover:before,
.snip1372.hover:before {
  opacity: 1;
}

.header > .section-2 > button:hover {
  opacity: 1;
  cursor: pointer;
}

.landing {
  padding: 0% 1.5% 1% 1.5%;
  max-height: 82vh;
  width: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.landing > img {
  max-width: 100%;
  opacity: 0.8;
  filter: blur(2px);
  border-radius: 1%;
  user-select: none;
}

.landing > .hover {
  width: fit-content;
  height: auto;
  position: absolute;
  top: 25%;
  left: 18%;
}

.landing > .hover > h2 {
  min-width: 55%;
  font-size: 3rem;
  text-align: left;
  background-color: #8a1e3bbd;
  padding: 2%;
  border-radius: 1.9%;
  color: #fff;
  letter-spacing: 3px;
  word-spacing: -5px;
  z-index: 2;
  user-select: none;
}

.zeroop {
  opacity: 0;
}

.landing > .hover > span {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.09);
}

.hover > .hover-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#first {
  z-index: 2;
  background-color: #002144;
  color: rgb(255, 212, 131);
}

#first::before {
  background-color: #fdbc30a6;
}

#first:hover {
  color: whitesmoke;
}

#second {
  z-index: 1;
  background-color: #8a1e3bcb;
  min-width: 171px;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid rgb(255, 212, 131);
  border-right: 5px solid rgb(255, 212, 131);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 3s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.amenities {
  width: 100%;
  height: 12vh;
  background: linear-gradient(-110deg, transparent 40%, #8a1e3b 20px);
  margin-top: 1.5%;
  color: wheat;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.amenities > h2 {
  font-size: 3vw;
  align-self: center;
  padding-left: 0.5%;
  text-transform: lowercase;
}

.amenities > .devider {
  content: "";
  width: 2px;
  background-color: rgba(245, 245, 245, 0.15);
  height: 100%;
  margin-left: 1%;
  margin-right: -0.5%;
}

.amenities > h5 {
  max-width: 30%;
  font-size: 1vw;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  margin: 0;
  padding: 1%;
  color: white;
}

.lines {
  position: absolute;
  top: 100%;
  left: 1.8%;
  height: 150vh;
  margin: auto;
  width: 20vw;
  overflow: visible;
  z-index: -1;
}

.line {
  position: absolute;
  width: 2px;
  height: 240vh;
  background-color: rgba(245, 245, 245, 0.15);
  overflow: visible;
}

.line::after {
  content: "";
  position: absolute;
  height: 30vh;
  width: 100%;
  top: -50%;
  background-color: $color-gold;
  animation: run 4s 0s infinite alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.line:nth-child(1) {
  margin-left: -5%;
}

.line:nth-child(1)::after {
  animation-delay: 0.1s;
}

@keyframes run {
  0% {
    top: 0%;
  }
  100% {
    top: 87.5%;
  }
}

.body {
  padding: 0% 1.5% 1% 1.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2em;
}

.room {
  background-color: #121212;
  width: 45vw;
  min-height: 55vh;
  max-height: 100vh;
  margin-bottom: 2em;
  padding: 1% 0% 1% 0%;
  border-radius: 2%;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.room:nth-child(odd) {
  margin-right: 3em;
}

.room > h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: $color-gold;
  font-size: 3em;
  margin: 0;
  margin-bottom: 2%;
}

.slider-img {
  height: 42vh;
  object-fit: cover;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-family: "Raleway", sans-serif;
  width: 20vw;
  height: 36vh;
  color: whitesmoke;
  background-color: #1d1d1d;
  border-radius: 2%;
  margin-right: 2%;
  // position: relative;
}

.info-container h2 {
  // position: absolute;
  // top: 0;
  padding: 5%;
  padding-bottom: 1%;
  font-size: 2.2rem;
  color: $color-gold;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 4%;
}

.info-container > h2:nth-child(even) {
  padding-top: 0;
  margin-top: -2%;
}

.info-container > span {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $color-gold;
}

.info-container > h6 {
  font-size: 1.2rem;
  font-weight: 600;
  // margin-top: -1.5vh;
}

.info-container > h3 {
  font-family: "Open Sans Condensed";
  font-size: 2.9rem;
  margin-top: -1vh;
}

.room-details {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 1%;
}

.single-room-detail {
  color: $color-gold;
  font-size: 4vh;
  width: 6vw;
  height: 11vh;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0%;
  border-radius: 4%;
}

.single-room-detail > h5 {
  font-size: 0.4em;
  margin: 0;
  color: white;
  letter-spacing: 0px;
  // margin-top: 0%;
  margin-bottom: 3%;
}

.single-room-detail > h4 {
  color: $color-gold;
  letter-spacing: 2px;
  font-family: "Open Sans Condensed", sans-serif;
}

.info-container > img {
  transform: rotate(20deg);
  width: 80%;
  height: auto;
  margin: 0;
  margin-top: -9%;
  padding: 0;
  filter: invert(1);
}
