body {
  background-color: #010213;
  color: #8a1e3b;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
  letter-spacing: 4px;
  overflow-x: hidden;
}

.App > .header {
  padding: 0.5%;
  padding-left: 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.header > .section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 80%;
}

.logo {
  height: auto;
  max-width: 300px;
}

.logo > img {
  max-width: 90%;
  height: auto;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

nav > a {
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  color: #8a1e3b;
  font-weight: 900;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

nav > a:hover {
  color: #FDBB30;
}

.header > .section-2 {
  margin-right: 1%;
}

.header > .section-2 > button {
    display: block;
    padding: 15px 35px;
    border: 2px solid #03042e;
    background: #8a1e3b;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.header > .section-2 > button:hover {
  background: #FDBB30;
  color: #363636;
  cursor: pointer;
}

.landing {
  padding: 0.2% 0% 1% 0%;
  max-height: 80vh;
  width: auto;
  overflow: hidden;
}

.landing > img {
  max-width: 100%;
  filter: blur(2px);
}